@inject IStringLocalizer<cloudscribe.PwaKit.PwaResources> sr
@{
    ViewData["Title"] = sr["Push Notification Console"];
}

<h2>@ViewData["Title"]</h2>
@section Styles  {
    <style>
        #output {
            border: solid 1px #999999;
            border-top-color: #CCCCCC;
            border-left-color: #CCCCCC;
            padding: 5px;
            width: 100%;
            height: 172px;
            overflow-y: scroll;
        }

            #output p {
                font-size: 11px;
            }
    </style>
}

<div>
    <div id="dashboard-controls">
        <button class="btn btn-success" type="button" data-push-subscribe-button>@sr["Subscribe to Push Notifications"]</button>
        <button class="btn btn-warning" type="button" data-push-unsubscribe-button>@sr["Unsubscribe from Push Notifications"]</button>
        <br /><hr />
        <div class="form-group">
            <label for="title">@sr["Title"]</label>
            <input type="text" id="title" size="32" maxlength="32" class="form-control" />
        </div>
        <div class="form-group">
            <label for="body">@sr["Body"]</label>
            <input id="body" class="form-control" />
        </div>
        <div class="form-group">
            <label for="icon">@sr["Icon"]</label>
            <input id="icon" class="form-control" value="/manifest/pwa-192x192.png" />
        </div>
        <div class="form-group">
            <label for="badge">@sr["Badge"]</label>
            <input id="badge" class="form-control" placeholder="a small monochrome icon, currently only supported on Chrome for Android, used to portray a little more information to the user about where the notification is from." />
        </div>
        <div class="form-group">
            <label for="image">@sr["Image"]</label>
            <input id="image" class="form-control" placeholder="an image url can be provided" />
        </div>

        <button class="btn btn-primary" type="button" id="send">@sr["Broadcast Push Notification"]</button>
        <button class="btn btn-primary" type="button" id="sendSelf">@sr["Send Notification to Self"]</button>
    </div>
    <hr />
    <div id="dashboard-console">
        <label>@sr["Log"]</label>
        <div id="output"></div>
        <button class="btn btn-secondary mt-2" type="button" id="clear">@sr["Clear"]</button>
    </div>
</div>

@section Scripts {
    
    <script src="/pwa/js/push-notifications-console.min.js" asp-append-version="true"></script>
}